<% if admin_signed_in? %>
 <div>You are currently signed in as: <%= current_admin.email %> (<%= link_to 'Sign out', destroy_admin_session_path, :method => :delete
%>)</div>
<% end %>  
<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @orderitem.item_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @orderitem.product %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @orderitem.colour %>
</p>

<p>
  <strong>Description:</strong>
  <%= @orderitem.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @orderitem.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @orderitem.price %>
</p>

<p>
  <strong>Order:</strong>
  <%= @orderitem.order %>
</p>

<%= link_to 'Edit', edit_orderitem_path(@orderitem) %> |
<%= link_to 'Back', orderitems_path %>
