<p id="notice"><%= notice %></p>

<p>
  <strong>Date of order:</strong>
  <%= @order.date_of_order %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
