  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       
       <title>iApple About</title>
       
       <div id="about_us">
          <div class="about_us_text">
           <h2 style="margin-left:0px; display:inline;color:black;">About Us</h2><br>
           Formed in 2016 <b>iApple.com</b> is a Irish owned Company based in Dublin City Center.</br>We Sale Apple Products
           on behalf of Apple like <b>iPhones</b>, <b>iPads</b>, <b>iMacs</b>, <b>iBooks</b>,</br> <b>Apple Watchs</b>, <b>AppleTV</b> and more.<p></p>
           
           Accessories and Gadgets from <b>Speakers</b>, <b>Headphones</b>, <b>Smart Cases</b>, <b>Smart Keyboards</b>, <b>Trackpads</b>, <b>Mouse’s</b>, etc.<p></p>
           
           We sell Quality Products at resable prices. Our friendly Staff are here to answer any questions
           you many have about our products on Sale. Please check out our Home Page for our monthly <b>Special Offers!</b><p></p>
           
           <h5 style="display:inline;color:black;">iApple<br>12-13 Grafton St., Dublin 2. Ireland.<br>
            Tel: (+353) 99 88 77 66<br>
            
            Email: <a href="mailto:info@iapple.com Subject=info%20iapple" target="_top">info@iapple.com</a>
            <br>Twitter: <a href="mailto:@iapple.com Subject=twitter%20@iapple" target="_top">@iapple</a></br>
            <a href="/site/home"><%= image_tag("icon_fb.png", :alt => "Facebook" ) %></a>
            <a href="/site/home"><%= image_tag("icon_twitter.png", :alt => "Twitter" ) %></a>
            <a href="/site/home"><%= image_tag("icon_in.png", :alt => "Linkin" ) %></a>
            </h5></br>
            <%= image_tag("iapple_store home2.jpg", :alt => "iApple Store" ) %>
            
           <h2>Call our Staff today on </br><b>1800 356 356</b></h2>  
          
         
           
       </br>
        
    </div>
       </div>