



<% if user_signed_in? %>
<div>Signed in as... <%= current_user.email %> (<%= link_to 'Sign out', destroy_user_session_path, :method => :delete
%>)</div> <% else %>
<%= link_to 'Register', new_user_registration_path %> or  <%= link_to 'Sign in', new_user_session_path %>  <% end %>
<% if user_signed_in? %>
<br>   

<%= link_to 'Edit Profile', edit_user_registration_path %> or <%= link_to 'View Recent Orders' %>
<% end %>

<div id='middle'>
            <%= image_tag("imac.png", :alt => "special offer" ) %>
            </div>

